body {
  background-color: #fdbc00;
}


li {
  padding: 5px;
  margin: 5px;
  background: #58b053;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

img{
  width: 16%;
  height: 16%;
}

h1{
  font-size: 4rem;
}
